.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  list-style: none;
  padding: 0;
  max-width: 1128px;
  max-height: 300px;
  margin: 0 auto;
  justify-content: space-around;
}

.gallery-item {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  box-sizing: border-box;
  flex: 1 1 calc(33.333% - 10px);
  box-sizing: border-box;
}

.gallery-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
